/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #c9a988
- Tints:

- Shades: 

- Accents:
- Greys
#3e4b61

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 15px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;500;600;700&family=Montserrat:wght@400;700&display=swap');

:root {
  --dark-color: #100f0f;
  --light-dark-color: #3e4b61;
  --highlight-color: #c9a988;
  --text-color: #f6f5f4;
  --white-color: #ffffff;
  --border-radius: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
  min-height: 100%;
  background: linear-gradient(var(--light-dark-color), var(--dark-color))
    no-repeat fixed;
  color: var(--text-color);
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

section {
  margin: 9.6rem 2.4rem;
  padding: 1.2rem 9.6rem;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.2rem;
  row-gap: 4.8rem;
  justify-items: center;
  align-items: center;
}

.description {
  padding: 1rem;
}

.pic img {
  width: 60%;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 82em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 63em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56em) {
  .flex-container {
    grid-template-columns: 1fr;
  }
}
