@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Montserrat:wght@400;700&display=swap');

:root {
  --dark-color: #100f0f;
  --light-dark-color: #3e4b61;
  --highlight-color: #c9a988;
  --text-color: #f6f5f4;
  --white-color: #ffffff;
  --border-radius: 15px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(var(--light-dark-color), var(--dark-color))
    no-repeat fixed;
  color: var(--text-color);
}

section {
  margin: 5rem 1.5rem;
  padding: 1rem 8rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 50%;
  padding: 1rem;
}

.pic img {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 10px 5px var(--border-radius) var(--border-radius)
    rgba(0, 0, 0, 0.3);
}

.pic {
  max-width: 420px;
}
