* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  width: 60vw;
  margin: 1rem auto;
  text-align: center;
}

#backdrop {
  content: '';
  background-color: rgba(126, 123, 123, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  background-color: #f3f3f3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 1rem;
  border-radius: 4px;
  border: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: antiquewhite;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: rgb(58, 56, 56);
}

form label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: #6f6f70;
}

form input {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: none;
  width: 100%;
  background-color: #cecece;
  color: #303031;
}

button {
  font: inherit;
  background-color: #303031;
  color: white;
  padding: 0.35rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4d4d4f;
}

.btn-alt {
  background-color: transparent;
  color: #303031;
  padding: 0;
  margin-left: 0.25rem;
}

.btn-alt:hover {
  background-color: transparent;
  color: #e97e7e;
}
