footer {
  padding: 3.2rem;
  border-top: 1px solid var(--highlight-color);
}

footer > nav {
  margin: 2.4rem;
  margin-bottom: 6.4rem;
}

.footer-bar__item {
  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 56em) {
  footer > nav {
    display: none;
  }

  footer .btn-mobile-nav {
    display: none;
  }
}
