#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

th,
td {
  border: 1px solid;
  padding: 5px 10px;
}

th {
  text-transform: capitalize;
  user-select: none;
}

th:hover {
  cursor: pointer;
}

table {
  border-spacing: 0;
}

label,
input {
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
}

label {
  user-select: none;
}
